.registration-card {
    background: linear-gradient(to right, #000000 0%, #033181 170%);
    color: white;
    border: none;
}

.registration-card input[type='text'],
.registration-card input[type='email'],
.registration-card input[type='password'] {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 4px;
}

.registration-card input[type='text']:focus,
.registration-card input[type='email']:focus,
.registration-card input[type='password']:focus {
    background: white;
    box-shadow: 0 0 0 2px #495057;
}

.registration-card .btn-primary {
    background-color: #000000;
    border: none;
}

.registration-card .btn-primary:hover {
    background-color: #b7b7b7;
}
